.first{
    background-color: #488ECC;
    color: white;
    padding-left: 20px;
    padding-bottom: 50px;
}
.first hr{
    color: skyblue;
}
.fas{
    font-size: 30px;
}

.second{
    background-color: #E3E5E4;
    color: gray;
    /* padding: 35px; */
}
.card{
    display: flex;
    padding: 30px;
    margin: 30px;
}
.card .fas{
    font-size: 60px;
    padding-top: 15px;
}
.date{
    color: skyblue;
}
hr{
    color: skyblue;
}
.hobbies .fas{
    font-size: 35px;
    padding-right: 20px;
}